<h2>Form</h2>
<form method="{{method}}" action="{{action}}">
  {{#each fields}}
    <div class="row">
      <label>{{label}}: {{#if required}}*{{/if}}</label>
      <input {{#if required}}required{{/if}} name="{{name}}" {{#if value}} value="{{value}}" {{/if}}>
    </div>
  {{/each}}
  <button>Submit</button>
</form>
