<h2>Edit User Data</h2>
<form method="{{method}}" action="{{action}}">
  {{#each fields}}
    <div class="row">
      <label>{{label}}:
        {{#if required}}*{{/if}}
      </label>
      <div>
        <p class="hint">{{hint}}</p>
        <input name="{{name}}"
        {{#if required}}required{{/if}}
        {{#if value}}value="{{value}}"{{/if}}>
        <p class="error" hidden>{{error}}</p>
      </div>
    </div>
  {{/each}}
  <button>Submit</button>
</form>
